#menu 
{
    text-align: center; 
    margin: 0;
    width: 100%;
    float: left;
    background-color: #ffc311;
}
.nobull 
{
    list-style-type: none; 
    text-align:center;
    margin: 0px;
    padding: 5px;
}
.nobull li 
{
    display: inline; 
    color: white;
    padding:0px; 
    margin:10px; 
}
.nobull li a
{
    display: inline-block;
    color: white;
    text-align: center;
    padding:30px;
    text-decoration: none;
}
@media screen and (max-width: 600px)
{
    .nobull li a
    {
        display: block;
        padding: 8px;
    }
    .nobull li img
    {
        display: none;
    }
}
.nobull li a:hover 
{
    background-color: #111;
}
.footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 65px;
    background-color: #ffc311;
    color: white;
    text-align: center;
}

