
#hamburger
{
    display: none;
    width:100%;
    text-align: center;
    background-color: #ffc311;
    margin: 0;
    float: left;
}

#menu 
{
    text-align: center; 
    margin: 0;
    width: 100%;
    float: left;
    background-color: #ffc311;
}
.nobull 
{
    list-style-type: none; 
    text-align:center;
    margin: 0px;
    padding: 5px;
}
.nobull li 
{
    display: inline; 
    color: white;
    padding:0px; 
    margin:10px; 
}
.nobull li a
{
    display: inline-block;
    color: white;
    text-align: center;
    padding:30px;
    text-decoration: none;
    font-weight: bold;
}

.nobull2
{
    list-style-type: none; 
    text-align:center;
    margin: 0px;
    padding: 5px;
}
.nobull2 li 
{
    align-items: center;
    display: inline; 
    color: white;
    height: 80px;
    line-height: 80px;
}
.nobull2 li a:hover 
{
    background-color: #111;
    cursor: pointer;
}


@media screen and (max-width: 600px)
{
    .nobull li a
    {
        display: block;
        padding: 30px;
    }
    .nobull li img
    {
        display: none;
    }
    #menu
    {
        display:none;
    }
    #hamburger
    {
        display:block;
    }
}
.nobull li a:hover 
{
    background-color: #111;
}
.footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 65px;
    background-color: #ffc311;
    color: white;
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 0px rgb(254, 195, 12);
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
}

h2 {
    color:rgb(112, 172, 176)
}












